// font import
@import url('https://fonts.cdnfonts.com/css/work-sans');
@import url('https://fonts.cdnfonts.com/css/rammetto-one');
// tailwind import
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: black linear-gradient(0deg, rgba(10, 7, 63, 1) 0%, rgba(33, 163, 147) 100%) fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rammetto One', sans-serif;
}

body {
  font-family: 'Work Sans', sans-serif;
}

// J'adore le css mais la j'ai utilisé tailwind pour ce test :)